parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
    excludePaths:
        - tests/*
    ignoreErrors:
        - identifier: new.static
        - message: '#^Generator expects key type TKey of \(int\|string\), int given\.$#'
          count: 5
          path: src/Collections/Utils/Iter.php
